.ellipse__beige {
	position: absolute;
	top: 0;
	left: 0;
	width: 427px;
	height: 427px;

	box-shadow: 10px 14px 104px 0px rgba(0, 0, 0, 0.12);
	filter: blur(200px);
	background: rgba(49, 129, 97, 0.1);
}
