.ellipse__green {
	position: absolute;
	top: 92px;
	left: 477px;
	width: 279px;
	height: 279px;
	box-shadow: 10px 14px 104px 0px rgba(0, 0, 0, 0.12);
	filter: blur(200px);
	background: rgba(49, 129, 97, 0.788);
}
