.logo {
	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		color: rgb(20, 47, 56);
		font-size: 22px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0%;
		text-align: center;
	}
	&__img {
		margin-right: 10px;
	}
	&__text {
		color: rgb(20, 47, 56);
		font-size: 22px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0%;
		text-align: center;
	}
}
